py-files/curr_scripts/__pycache__/*
py-files/curr_scripts/pred_means/*
py-files/curr_scripts/gp_list
py-files/curr_scripts/figures/*
.RData
.Rhistory
m-files/LogFiles/
py-files/curr_scripts/.ipynb_checkpoints/
